


.keyword-list {
	min-width: 50%;
	display: flex;
	flex-flow: column wrap;
	/* align-items: center; */
	justify-content: space-between;
	align-content: center;	
}

.keyword-list ul,
.keyword-list ol {
	display: inline-block;
	border: 1px solid #000000;
}

.keyword-list ul li,
.keyword-list ol li {
	font-size: 2.1rem;
}


.item-list {
	/* font-size: 1.75rem; */
	max-width: 60%;
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto;
	padding: 0;
	height: min-content;
	border: 1px solid palevioletred;
}

.list-row {
	height: min-content;
	display: flex;
	border: 1px solid blue;
}

.list-item {
	min-width: 25%;
	display: flex;
	flex-flow: column wrap;
	border: 1px solid orange;
}

.centered {
	align-content: center;
	justify-content: center;
}

.big-words {
	font-size: 2.4rem;
	font-weight: 700;
}

.med-words {
	font-size: 1.75rem;
	font-weight: 500;	
}



/* Checkbox sizing */

/* input[type='checkbox'] {
	zoom: 1.8;
} */

/* input[type='checkbox']:checked {
    box-shadow: 0 0 0 2px var(--summer-melon);
} */
