


.keyword-list {
	min-width: 50%;
	display: flex;
	flex-flow: column wrap;
	/* align-items: center; */
	justify-content: space-between;
	align-content: center;	
}

.keyword-list ul,
.keyword-list ol {
	display: inline-block;
	border: 1px solid #000000;
}

.keyword-list ul li,
.keyword-list ol li {
	font-size: 2.1rem;
}


.item-list {
	max-width: 50%;
	min-height: calc(100vh * 0.3);
	display: flex;
	flex-flow: column wrap;
	/* align-content: center; */
	/* align-items: center; */
	/* justify-content: center; */
	/* margin-left: auto; */
	margin: 0 auto;
	border: 1px solid palevioletred;
}

.list-row {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	/* justify-content: space-around; */
	/* justify-content: center;	 */
	/* align-items: center; */
	/* align-items: stretch; */
	/* align-content: center; */
	border: 1px solid blue;
}

.list-item {
	/* display: flex; */
	/* flex-flow: row wrap; */
	/* width: max-content; */
	align-items: center;
	/* align-content: center; */
	justify-content: center;
	/* margin: 0 auto; */
	margin-left: auto;
	border: 1px solid green;
}


.flex-sm {
	flex-grow: 1;
}
.flex-md {
	flex-grow: 1;
}
.flex-lg {
	flex-grow: 1;
}