
@import url("./static/css/fonts.css");
@import url("./static/css/themes.css");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	font-size: 1.6em;
    line-height: 1.5;
    background: #ffffff;
	color: var(--humana-gray);
    font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;	
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Roboto", sans-serif;
}

h1 {
    font-size: 5em;
}


h2 {
    font-size: 4.25em;
}

h3 {
    font-size: 3.5em;
}

h4 {
    font-size: 3em;
	font-style: italic;
}

h5 {
    font-size: 2.5em;
}

h6 {
    font-size: 2em;
}


p {
	font-size: 1.2em;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}



/*  Custom formatting. */

a {
	color: var(--progeny-brick);
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	color: var(--progeny-red);
	font-weight: 600;
}

.stronger {
	color: var(--progeny-brick);
	text-decoration: none;
	font-weight: 500;
}


.outer-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	max-width: calc(100vw * 0.6);
	margin: 0 auto;
}


.inner-container {
	width: 100%;
	padding: 8rem 10px 4rem;
}




/* Font and special section styles */
code {
	font-family: "Fira Code", monospace;
}