
// Misc theming...kinda messy, but that adds spunk!



$black: #000000 !default;
$charcoal: rgba(21, 21, 21, 1) !default;

$cra_bg_original: rgb(40, 44, 52) !default;
$off_black: rgb(60, 60, 60) !default;
$summer_melon: rgb(252, 172, 106) !default;

/* https://www.color-hex.com/color-palette/111682 */
$ocean_dysphoria_dark: rgb(67, 55, 90) !default;

/* 
https://www.color-hex.com/color-palette/91354
    */
$progeny_red: rgb(238, 31, 37) !default;
$progeny_brick: rgb(147, 61, 65) !default;
$progeny_taupe: rgb(156, 132, 129) !default;
$progeny_mist: rgb(192, 192, 192) !default;
$progeny_blue: rgb(25, 94, 131) !default;

/***
    https://www.color-hex.com/color-palette/99216
*/
$regular_cyan: rgba(30, 213, 231, 1) !default;    /* #1ed5e7  */
$aquamarine: rgba(0, 107, 117, 1) !default;     /* #006b75  */
$elite_blue: rgba(0, 69, 104, 1) !default;      /* #004568  */
$royal_blue: rgba(0, 47, 115, 1) !default;      /* #002f73  */
$intense_blue: rgba(0, 39, 96, 1) !default;       /* #002760  */        


/***
    https://www.color-hex.com/color-palette/111561
*/
$bog_orange: rgba(234, 163, 25, 1) !default;   /* #eaa319 */
$bog_red: rgba(107, 8, 8, 1) !default;      /* #6b0808  */
$bog_brick: rgba(69, 7, 38, 1) !default;      /* #450726 */
$bog_deep-purple: rgba(26, 6, 43, 1) !default;      /* #1a062b */
$bog_black-red: rgba(36, 25, 25, 1) !default;     /* #241919 */


/***
    https://www.color-hex.com/color-palette/111477
*/
$purple_cult-5: rgba(123, 86, 242, 1) !default;		/* #7b56f2 */
$purple_cult-4: rgba(113, 101, 240, 1) !default;		/* #7165f0 */
$purple_cult-3: rgba(44, 95, 236, 1) !default;		    /* #2c5fec */
$purple_cult-2: rgba(129, 83, 242, 1) !default;		/* #8153f2 */
$purple_cult-1: rgba(149, 131, 208, 1) !default;		/* #9583d0 */    
